@import url("../CSS/navAndScrollbar.css");
/* 導覽列設定 */
header {
    background-color: var(--nav-bg-color);
}

/* 背景設定 */
form {

    /* background-blend-mode: multiply; */
    /* 富士山圖片-作者:Midori */
    background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.5)),url("https://upload.wikimedia.org/wikipedia/commons/3/36/Lake_Kawaguchiko_Sakura_Mount_Fuji_4.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 3.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: large;
}

/* 篩選器設定 */
.airplaneFliter {
    background-color: var(--nav-bg-color);
    width: 70%;
    height: 20%;
    border-radius: 10px;
    padding: 2%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.airplaneFliter input,
.airplaneFliter select {
    padding: 5px;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    color: var(--nav-bg-color);
}

.airplaneFliter input:focus,
.airplaneFliter select:focus {
    outline: 3px solid var(--section-bg-color);
}

/* 確認鍵裝飾 */
form>input {
    margin-top: 40px;
    padding: 10px 30px;
    letter-spacing: 5px;
    background-color: #fff;
    color: var(--nav-bg-color);
    border: 5px solid var(--nav-bg-color);
    border-radius: 50px;
    font-weight: 600;
    font-size: large;
}

form>input:hover {
    background-color: var(--nav-bg-color);
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 5px #8a8a8a;
    transition: .3s ease-in;
    cursor: pointer;
}