@import url("../CSS/navAndScrollbar.css");

/* 導覽列設定 */
header {
    background-color: var(--nav-bg-color);
}

#mainpic {
    object-fit: cover;
    height: 300px;
    width: 100%;
}


/* 上方篩選器 */
/* 篩選器設定 */
.airplaneFliter {
    background-color: var(--nav-bg-color);
    width: 70%;
    height: 20%;
    border-radius: 20px;
    padding: 2%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: calc(2.5rem + 300px - 10%);
    left: 15%;
}


.airplaneFliter input,
.airplaneFliter select {
    padding: 5px;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    color: var(--nav-bg-color);
}

.airplaneFliter input:focus,
.airplaneFliter select:focus {
    outline: 3px solid var(--section-bg-color);
}

/* 確認鍵裝飾 */
.airplaneFliter input[type="submit"] {
    padding: 10px 15px;
    margin-left: 10px;
    letter-spacing: 5px;
    background-color: #fff;
    color: var(--nav-bg-color);
    border: 5px solid var(--nav-bg-color);
    border-radius: 50px;
    font-weight: 600;
    font-size: large;
}

.airplaneFliter input[type="submit"]:hover {
    background-color: var(--nav-bg-color);
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 5px #8a8a8a;
    transition: .3s ease-in;
    cursor: pointer;
}

/* 旁邊篩選器 */
.sideFilter {
    margin: 3% 0;
    padding: 2%;
    background-color: #f1f1f1;
    position: absolute;
    top: calc(2.5rem + 300px + 100px);
    left: 4vw;
    height: calc(100vh - 2.5rem);
    width: 12vw;
    border-radius: 20px;
}

/* 自訂多選設定---------------------------- */
.container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #376B6D;
}

/* 隱藏多選格預設 */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* 多選選單變化製作 */
.checkmark {
    position: absolute;
    top: 3px;
    left: 4px;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border: 2px solid #376B6D;
    border-radius: 5px;
}


.container:hover input~.checkmark {
    background-color: #d5e1e0;
    /* transition: .2s ease-in; */
}


.container input:checked~.checkmark {
    background-color: #376B6D;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 3.5px;
    top: 0px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* 篩選結果(main)設定------------- */

/* 底層容器設定 */
.output {
    position: absolute;
    top: calc(2.5rem + 300px + 100px);
    right: 0;
    width: calc(100% - 16vw);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* 景點文字及照片排版 */
.outputDiv {
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 3% 0;
    margin: 3% 0;
    box-shadow: 0 0 5px #acacac;
}


/* 景點照片 */
.output img {
    width: 10vw;
    height: 6vw;
    object-fit: contain;
    border-radius: 10px;
}


.output .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 700;
    padding: 3% 0.5%;
    /* outline: 2px solid #000; */
}

button {
    background-color: var(--nav-bg-color);
    color: #fff;
    padding: 15px;
    letter-spacing: 1px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
}

.text+button div{
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: #fff;
    width:20px;
    height: 10px;
    margin: auto;
    margin-top: 5px;
}

.text+button:hover {
    box-shadow: 0 0 5px #4f4f4f;
}

/* 景點文字大小調整 */

.text .flyingSpot {
    font-size: 1.2rem;
}

.text .price {
    height: 2rem;
    font-size: 1.5rem;
    align-self: end;
}


/* ------------------------------------------ */

/* 展開後畫面 */
.openDiv{
    width: 94%;
    /* padding: 3% 0.5%; */
    background-color: #f1f1f1;
    color: #376B6D;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flyingTime{
    padding:3%;
    font-size: 1.2rem;
}

.openDiv button{
    margin: 3%;
    border: #376B6D 5px solid;
    background-color: #fff;
    color: #376B6D;
}

.openDiv button:hover{
    box-shadow: 0 0 5px #8a8a8a;
}