@import url("../CSS/bootstrap.min.css");
@import url("../CSS/navAndScrollbar.css");

a,a:hover,a:active{
    text-decoration: none;
}

.card-columns {
    column-count: 3;
    padding: 50px;
}

header {
    background-color: var(--nav-bg-color);
}

h3,
p {
    font-weight: 600;
}

h3 {
    color: var(--nav-bg-color);
}


#avatar {
    width: 10vw;
    height: 10vw;
    clip-path: circle(50% at 50% 50%);
    margin: 30px;
}

#mainstory {
    object-fit: cover;
    height: 300px;
}

/* 旁邊導覽列 */

.sidebar {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: sticky;
    top: 2.5rem;
    left: 0;
    height: calc(100vh - 2.5rem);
    overflow: auto;
}



.sidebar div{
    display: block;
    color: #fff;
    background-color: var(--nav-bg-color);
    padding: 25px;
    font-size: 1.1rem;
    font-weight: 900;
    text-align: center;
}

.sidebar>div:first-child{
    background-color: #f1f1f1;
}

.sidebar:first-child{
    background-color: #f1f1f1;
}

.sidebar a div{
    background-color: #f1f1f1;
    color:var(--nav-bg-color);
}

.sidebar a div:hover:not(.active) {
    background-color: #CB4042;
    color: #fff;
    transition: .2s cubic-bezier(0.215, 0.610, 0.355, 1);
}


div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/* 新增行程表按鍵 */

.addSchdule {
    padding: 1rem;
    position: absolute;
    top: calc(300px + 1.5rem);
    left: calc(100% * (7 / 8));
    font-weight: 700;
    color: #fff;
    border: 5px solid #fff;
    border-radius: 50px;
    background-color: var(--nav-bg-color);
    transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    cursor: pointer;
    z-index: 10;
}

.addSchdule:hover {
    background-color: #fff;
    border-color: var(--nav-bg-color);
    color: var(--nav-bg-color);
}

/* 卡片裝飾 */

.card,
.card-img-top {
    border-radius: 20px;
}



.card:hover {
    box-shadow: 0 0 5px #6e6e6e;
}

/* 景點地址文字大小 */
.spotAddr{
    font-size: 14px;
    padding-top: 5px;
}