*::selection{
    background-color: rgb(156, 196, 156);
    color: #303030;
    text-shadow:0 0 5px var(--nav-bg-color);
}

.membermain a,
.membermain a:hover,
.membermain a:active {
    text-decoration: none;
    color: black;
}

/* 會員中心的按鈕格式 */

.membermain button {
    width: 120px;
    color: var(--white-color);
    font-size: 16px;
    padding: 5px 0;
    background: rgb(240, 240, 240);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top:10px;
    color: rgb(55, 107, 109);
    transition: 0.5s;
    border: 2px solid rgb(95, 156, 127);
}

.membermain button:hover {
    color: var(--black);
    background-color: #feda02;
    font-weight: 700;
    border: 2px solid var(--white-color);
}

.card-columns {
    column-count: 3;
    padding-left: 40px;
}

.membermain{
    margin:0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 15vh;
}


 h3 {
    color: var(--nav-bg-color);
    font-size: 22px;
    font-weight: 700;
}

h5{
    font-weight: 500;
    font-size: 18px;
}

.membermain p{
    font-size: 14px;
}

#avatar {
    width: 120px;
    height: 120px;
    clip-path: circle(50% at 50% 50%);
    margin: 15px 0;
}

#avatar+div{
    background-color:transparent;
    padding:0;
    margin-bottom:10px;
    font-size:22px;
    color:#000;
    width: 100%;
    white-space: wrap;
}



#mainstory {
    object-fit: cover;
    height: 35vh;
    margin-bottom: -8vh;
}

/* 旁邊導覽列 */

.membermain .sidebar {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: sticky;
    top: 2.5rem;
    left: 0;
    height: calc(100vh - 2.5rem);
    overflow: auto;
    z-index: 99;
    border-radius: 10px;
}



.membermain .sidebar div {
    display: block;
    color: #fff;
    background-color: var(--nav-bg-color);
    padding: 15px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    width: 100%;
}

.membermain .sidebar>div:first-child {
    background-color: #f1f1f1;
    width: 100%;
    height: 30%;
    margin-bottom: 50px;
}
.membermain .sidebar:first-child {
    background-color: #f1f1f1;
}

.membermain .sidebar .thisPage{
    background-color: #f1f1f1;
    color: var(--nav-bg-color);
}

.membermain .sidebar .thisPage:hover:not(.active) {
    background-color: #feda02;
    color: #000;
    transition: .2s cubic-bezier(0.215, 0.610, 0.355, 1);
}


div.content {
    margin-left: 200px;
    padding: 1px 16px;
}

@media screen and (max-width: 700px) {
    .membermain .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .membermain .sidebar a {
        float: left;
    }

    .membermain div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .membermain .sidebar a {
        text-align: center;
        float: none;
    }
}

/* 新增行程表按鍵 */

.addSchdule {
    padding: 1rem;
    position: absolute;
    top: calc(35vh + 6vh - 2rem);
    left: calc(100% * (7 / 8));
    font-weight: 700;
    color: #fff;
    border: 5px solid #fff;
    border-radius: 50px;
    background-color: var(--nav-bg-color);
    transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    cursor: pointer;
    z-index: 10;
}

.addSchdule:hover {
    background-color: #fff;
    border-color: var(--nav-bg-color);
    color: var(--nav-bg-color);
}

/* 卡片裝飾 */

.card,
.card-img-top {
    border-radius: 10px;
}



.card:hover {
    box-shadow: 0 0 5px #6e6e6e;
}

