header {
    background-color: #376B6D;
}

.setting * {
    text-align: center;
    line-height: 40px;
    margin:auto;
}

.setting{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settingTitle {
    margin-top: 40px;
    font-weight: 900;
    font-size: 45px;
    padding-bottom: 30px;
}

.setting main {
    border: 5px solid #376B6D;
    border-radius: 10px;
    width: 50%;
    min-width: 350px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 18px;
}

.setting div[class$="Title"] {
    letter-spacing: 3px;
}

.setting button {
    /* width: 100px; */
    color: var(--white-color);
    font-size: 18px;
    padding: 0 10%;
    background: rgb(240, 240, 240);
    border: 0;
    border-radius: 20px;
    outline: none;
    color: rgb(55, 107, 109);
    transition: 0.5s;
    border: 2px solid rgb(95, 156, 127);
}

.setting button:hover {

    color: var(--black);
    background-color: #feda02;
    font-weight: 700;
    border: 2px solid var(--white-color);
}

.setting button:nth-child(3){
    margin-bottom: 5px;
    margin-top: -5px;
}


.setting .nameDiv,
.idNum,
.way,
.interstTitle~div:nth-of-type(2) {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}




/* 設定內部各標題設定 */

.setting .interstTitle,
.setting .nameTitle,
.setting .iDTitle,
.setting .loginTitle {
    font-weight: 900;
    background-color: #376B6D;
    width: 20%;
    color: #fff;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
}



.setting .loginway img {
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 50% 50%);
}

.setting .way {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* checkbox costum---------------------------- */
.setting .container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* 隱藏多選格預設 */
.setting .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* 多選選單變化製作 */
.setting .checkmark {
    position: absolute;
    top: 8px;
    left: 0px;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border: 2px solid #376B6D;
    border-radius: 5px;
}


.setting .container:hover input~.checkmark {
    background-color: #d5e1e0;
    transition: .2s ease-in;

}


.setting .container input:checked~.checkmark {
    background-color: #376B6D;

}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.setting .container input:checked~.checkmark:after {
    display: block;
}

.setting .container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}