/* #376B6D */
/* background-image: linear-gradient(
  to right,
  #20585a,
  #3e9295,
  #46babe,
  #376b6d
); */
/* 五天四夜東京之旅倒數 29天3小時48分鐘 */
*{
  /* border: 1px solid #000; */
  outline: #da663c solid 1px;
}
#indexContext{
  width:100%;
  height:60vh;
  background-color: #f7905c;

}
#contextBG{
  width:100%;
  height:60vh; 
  background-image:url("/public/img/hotel_img/index-bg.jpg") ;
  background-position:center;
  background-size: cover;
  /* background-color: yellowgreen; */
  
}
#greenFilter{
  width: 100%;
  height:100%;
  background-color:rgba(55,107,109,0.5) ;
}
/* 內容抓80%置中 */
.contextArea{
  width: 70%;
  margin: auto;
  position: relative;
  
}
#indexTitle{
  position: absolute ;
  top:18vh;
}

#indexTitle p:nth-child(1){
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--white-color);
  /* text-shadow:#262626 0.2em 0.1em 0.2em ; */
  
}
#indexTitle p:nth-child(2){
  font-size:1.5rem ;
  font-weight: 1000;
  color: var(--white-color);

  margin-top:30px ;
  /* text-shadow:#262626 0.2em 0.1em 0.2em ; */
}
/* ___搜尋區_________________________________ */
#btnArea{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 250px;
  width: 100%;
  /* left:40%; */
  /* left: 30%; */
  /* transform: translate(-50%, -50%); */
  
}

#searchBar {
  padding: 15px;
  height: 20px;
  width: 30vw;
  border-radius: 18px;
}
#submitBtn,form button {
  padding: 5px;
  /* height: 20px; */
  width: 65px;
  border-radius: 18px;
  background-color: #da663c;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  cursor: pointer;
}
.Position-relative{
  position: relative;
}
.filterBtnPosition{
  position: absolute;
  bottom: 5%;
  right:3%;
}
.closeBtn{
  width: 28px;
  height:28px;
  background-size: contain;
  /* background-image:url("/tripschedule/public/img/hotel-icon/close.png") ; */

  position:absolute;
  right: 3%;
  top:3%;
}


/* 
#timing {
  font-size: 3em;
} */
nav{
  position: relative;
}

#filterZone{
  width: 80%;
  height:30vh;
  border-radius: 10px;
  background-color:#dcfff2;
  position: relative;
  top: 4.5rem; 
  left: 50%; 
  transform: translate(-50%, -50%);
  box-shadow:rgb(113, 173, 166) 0.2em 0.2em 0.5em;

  display: flex;

}
.flexTitle{
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexTitle p{
  color:#376B6D;
  font-size: 30px;
  font-weight: bold;
  /* line-height: 40px; */
  text-align: center;
  margin-bottom: 20px;
  
}
.flexContent{
  flex:3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBtnArea{
  padding:5px;

  width: 70%;
  height: 70%;
  /* background-color: rgb(94, 227, 85); */
  border-radius: 15px;
  border:1.5px solid #376B6D;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchBtnArea:hover{
  background-color: #b1f7dd;
  cursor: pointer;
  transition: 0.1s ease-in;


}
.searchBtnArea div:nth-child(1){
  width: 100%;
  text-align: center;
  font-size:16px ;
  color: #376b6d;
}
.iconForSearch{
  width:30%;
  height:30%;

}
.iconForSearch img{
  margin-top:15px ;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
/* ____________________________ */
.recommendationTitle{
  margin-top:15vh ;
  margin-bottom: 15vh ;
 
}
.recommendationTitle p:nth-child(1){
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #376B6D;
}
.recommendationTitle p:nth-child(2){
  text-align: center;
  font-size: 15px;
  /* font-weight: 700; */
  color: #000000;
}
/* _______________________________ */
.optionZone{
 
  /* margin:auto; */

  display: flex;
  /* justify-content: space-between; */
  width:80% ;
}
.wid80{
  width:80%;
  margin: auto;
}
/* _____提示___________________________ */
.reminderZone{
  position: absolute;
  top: 15vh;
  right:10%;
  padding: 5vh;
  color: var(--white-color);
  background-color: #376b6d;
  opacity: 0.9;
  border-radius: 10px;
}
.reminderZone p,.reminderZone div{
  font-size: small;
}
.currentTripName{
  border-radius: 0.5rem;
  background-color: var(--white-color);
  color: #376b6d;
  padding: 8px ;
  margin-top: 3px;
  margin-bottom: 3px;
}
/* _彈出篩選器________________________________ */
.filterZone-outer{
  position: fixed;
  width:100% ;
  height:100vh;
  background-color: rgba(55, 107, 109,0.5)	;
  

  z-index: 1000;

 

  display: flex;

  /* margin: auto; */
  visibility: hidden;
  
}
.filterZone{
  border-radius: 15px;
 
  /* margin:20%; */
  width: 80%;
  height: 60%;
  
  background-color: var(--white-color);
  
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display:flex;
  /* align-items: center; */


  

  /* justify-content: space-between; */

  padding: 3vh;
  box-shadow: #376b6d 0.3em 0.2em 0.2em;
  
  
}
.optionFontStyle p{
  margin: 0 ;
}
.filterPart{
  width: 23%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: start;
  /* background-color: aqua; */
  /* background-color: var(--white-color); */
  /* margin: 3%; */
  /* border-radius: 10px; */
  
}
.padding-narrow{
  padding-left:2%;
  padding-right:2%;
}
.filterPart-36{
  width: 28%;
  height:100%;
  /* background-color: aqua; */
  background-color: var(--white-color);
  /* margin: 3%; */


  
}

.filterPart-36 >div{
  display: flex;
  width:100%
}
.filterPart-36 >div >div{
  width:50%
}
/* ____________________________________________ */
.footerBgColor{
  background-color: #376B6D;
  width: 100%;
  height:10vh;
}
/* 代替原始的nav */
.nav{
  position:relative;
}