.ticketBox {
    width: 90%;
    height: 30vh;
    margin-bottom: 5vh;
    box-shadow: 0 0 5px #acacac;
    border-radius: 19px;
    display: flex;
    padding: 2vw;
}

.ticketCarrierImg {
    height: 10vh;
    align-self: center;
}

.placeTime {
    border: solid black 1px;
    width: 30vw;
}

.ticketPrice {
    font-size: 3rem;
    align-self: flex-end;
    
}