.search {
    width: 25%;
    z-index: 100;
    position: relative;
    bottom: -35vh;
    height: 50px;
    border-radius: 15px 0 0 15px;
    background: rgb(199, 199, 199);
    font-size: 20px;
    font-weight: 450;
    padding-left: 20px;
}

.vh button{
    width: 5%;
    z-index: 100;
    position: relative;
    bottom: -33.8vh;
    height: 45px;
    border-radius:0 15px 15px 0;
    background: rgb(199, 199, 199);
    font-size: 25px;
    font-weight: 450;
    background: var(--white-color);
    color: var(--nicegreen);
    border: 0 0 0 -20px;
}

.vh button:hover{
    background: var(--niceye);
    color: var(--black);
    font-weight: 700;
}

.vh {
    height: 70vh;
    text-align: center;
    display: flex;
}

/* .searchvh{
    width: 300px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
} */
/* ====== home ======= */
.home {
    height: 70vh;
    background-color: var(--black);
}

.home video {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
    clip-path: polygon(0 13%, 100% 13%, 100% 100%, 0% 100%);
    z-index: 000;
    position: absolute;
}

.searchBar{
    margin-top: 5vh;
    margin-left: 2.5vw;
    width: 60px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(250, 250, 250, 0.705);
    border-radius: 60px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.chengeWidth{
    width: 400px;
}

.iconvi{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.iconvi::before{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid var(--nicegreen);
    position: absolute;
    transform: translate(-4px,-4px);
}

.iconvi::after{
    content: '';
    width: 3px;
    height: 12px;
    background-color:var(--nicegreen);
    transform: translate(6px,6px) rotate(315deg);
}

.textInput{
    width: 320px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 60px;
}

.textInput input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
}

.clear{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before{
    content: '';
    width: 1px;
    height: 15px;
    background-color: #999;
    transform: rotate(45deg);
    position: absolute;
}

.clear::after{
    content: '';
    width: 1px;
    height: 15px;
    background-color: #999;
    transform: rotate(315deg);
}

#go{
    width: 12%;
    height: 60%;
    position: absolute;
    top: 20%;
    right: 0;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    background: var(--nicegreen);
}

#go:hover{
    cursor: pointer;
    background: var(--niceye);
}