.AirticketSideFilterBar {
    padding-top: 5vh;
    padding-bottom: -2vh;
    background-color: #376B6D; 
    width: 12vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color:#f1f1f1;
    font-size: 22px;
    font-weight: 900;
    height: fit-content;
    padding: 2vh;
}