#mainpic {
    object-fit: cover;
    height: 35vh;
    width: 100%;
    margin-bottom: 0vh; 

}

main{
    width:100%;
    display: flex;
    justify-content: center;
}

.finaloutput{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.finaldepartureSpot,.finalreturnSpot{
    width:80%;
    margin:2%;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    color: #376B6D;
}

/* 景點文字及照片排版 */
.finaloutputDiv {
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 2% 0;
    margin: 1% 0;
    box-shadow: 0 0 5px #acacac;
}


/* 景點照片 */
.finaloutputDiv img {
    width: 8vw;
    height: 6vw;
    object-fit: contain;
    border-radius: 10px;
}


.finaloutput .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 700;
    padding: 2% 0;
    /* outline: 2px solid #000; */
}

button {
    background-color: var(--nav-bg-color);
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
}




/* 景點文字大小調整 */

.finalflyingTime,.price {
    font-size: 1.2rem;
    font-weight: 700;
}


/* 連結按鈕 */
.finalprice+a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.price+a button:hover {
    box-shadow: 0 0 5px #4f4f4f;
}

/* 下方兩個按鍵 */
.mutipleButton{
    width: 94%;
    display: flex;
    justify-content: space-around;
    margin: 3%;
}

.mutipleButton button{
    width: 20vw;
}

.mutipleButton button:hover{
    box-shadow:0 0 5px #4f4f4f;
}

/* 價格顏色 */
.price span{

    color:#da663c;
}