.AirticketPageSize_full {
    height: 94vh;
    width: 100%;
}

.AirticketPageSize_free {}

.ChoosePageOutput {
    position: absolute;
    margin-top: 35vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    padding-bottom: 10vh;
    width: 90vw;
    padding-top: 20vh;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: space-between;
}