#AirticketBgImg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)),url("../../../../../public/img/airport.webp");
    background-size: cover;
    background-repeat: no-repeat;
}