/* 篩選器設定 */
* {
    border: pink 1px solid;
}

#AirticketSearchForm {
    width: 80%;
    height: 50vh;
}

.airplaneFliter {
    background-color: var(--nav-bg-color);
    width: 75%;
    height: 20%;
    border-radius: 10px;
    padding: 2%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.airplaneFliter label{
    vertical-align: middle;
    padding-top: 6px;
}


.airplaneFliter input,
.airplaneFliter select {
    padding: 3px 3px 3px 5px;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    color: var(--nav-bg-color);
    font-size: 16px;
    text-align: center;
}

.airplaneFliter input:focus,
.airplaneFliter select:focus {
    outline: 3px solid var(--section-bg-color);
}

/* 確認鍵裝飾 */
input[type="submit"] {
    /* margin-top: 200px; */
    padding: 10px 30px;
    letter-spacing: 5px;
    background-color: var(--nav-bg-color);
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 50px;
    font-weight: 600;
    font-size: large;
    z-index: 99;
}

input[type="submit"]:hover {
    background-color: #fff;
    color:var(--nav-bg-color);
    border-color:var(--nav-bg-color);
    box-shadow: 0 0 5px #8a8a8a;
    transition: .3s ease-in;
    cursor: pointer;
}

/* form{
    font-weight: 600;
    font-size: 18px;
} */
/* 
#mainpic {
    object-fit: cover;
    height: 35vh;
    width: 100%;
    margin-bottom: 15vh;
    outline: 3px solid #feda02;
} */
